*.o
*.lo
*.la
*.a
*.exe
*.pc
*.*~
*.spec
.auto
.libs
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h.in
config.h
config.log
config.status
configure
libtool
stamp-*
*-stamp
examples/decode_mpeg
examples/decode_pat
examples/decode_pmt
examples/decode_sdt
examples/get_pcr_pid
misc/gen_crc
misc/gen_pat
misc/gen_pmt
misc/test_dr
