*.o
*.lo
*.la
*.a
*.exe
*.pc
*.*~
*.spec
.auto
.libs
.deps
m4/
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h.in
config.h
config.log
config.status
configure
libtool
stamp-*
*-stamp
.dirstamp
doc/doxygen
doc/decoder.png
examples/check_cc_pid
examples/decode_mpeg
examples/decode_pat
examples/decode_pmt
examples/decode_sdt
examples/decode_bat
examples/dump_pids
examples/get_pcr_pid
examples/dvbinfo/dvbinfo
misc/gen_crc
misc/gen_pat
misc/gen_pmt
misc/test_dr
