Source: libdvbpsi4
Priority: optional
Maintainer: Sam Hocevar (Debian packages) <sam+deb@zoy.org>
Build-Depends: debhelper (>= 4.0)
Standards-Version: 3.6.1.0

Package: libdvbpsi4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: library for MPEG TS and DVB PSI tables decoding and generating
 libdvbpsi is a simple library designed for MPEG TS and DVB PSI tables
 decoding and generating.
 .
 This package contains the libdvbpsi4 runtime library.

Package: libdvbpsi4-dev
Section: libdevel
Architecture: any
Depends: libdvbpsi4 (= ${Source-Version})
Conflicts: libdvbpsi0-dev, libdvbpsi1-dev, libdvbpsi2-dev, libdvbpsi3-dev
Description: development files for libdvbpsi3
 libdvbpsi is a simple library designed for MPEG TS and DVB PSI tables
 decoding and generating.
 .
 This package contains the header files and static library needed to
 compile applications that use libdvbpsi4.

