Source: libdvbpsi
Section: libs
Priority: optional
Maintainer: Samuel Hocevar <sam@zoy.org>
Build-Depends: debhelper (>=2.2.0)
Standards-Version: 3.0.1

Package: libdvbpsi1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: a library for for MPEG TS and DVB PSI tables decoding and generating
 libdvbpsi is a simple library designed for MPEG TS and DVB PSI tables
 decoding and generating.
 .
 This package contains the libdvbpsi1 runtime library.

Package: libdvbpsi1-dev
Section: devel
Architecture: any
Depends: libdvbpsi1 (= ${Source-Version})
Conflicts: libdvbpsi0-dev
Description: development files for libdvbpsi1
 libdvbpsi is a simple library designed for MPEG TS and DVB PSI tables
 decoding and generating.
 .
 This package contains the header files and static library needed to
 compile applications that use libdvbpsi1.

